.blue-text{
    color: #0000ff;
}
.big-text{
    font-size: 30px;
    color: #008000;
}
#europa{
    font-size: 10px;
    color: #ff0000;
}
h4{
    font-size: 20px;
}
h1{
    font-size: 50px;
}
body{
    color: #808080;
}
