h1{
    font-size: 50px;
    color: purple;
    
    border: 2PX dashed #ffa500;
}
h4{
    font-size: 20px;  
}
li{
    color: green;
}
body{
    background-image: url('https://s2.glbimg.com/o3IEB8vbwV1MIsws4k4t3I2Ny-s=/e.glbimg.com/og/ed/f/original/2020/05/26/falcon_heavy_demo_mission_40126461851.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}